@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

.about-text {
    font-family: Roboto;
    font-size: 20px;
    border: thin #636c72;
    max-width: 800px;
    padding: 8px;
    margin: 10px auto;
}