@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

html, body, main{
    margin: 0;
    padding: 0;
}

.main{
    background-color: #fff;

    background-image:-webkit-radial-gradient(center, circle farthest-corner, #fff, #E0E0E0);
    background-image:-moz-radial-gradient(center, circle farthest-corner, #fff, #E0E0E0);
    background-image:radial-gradient(center, circle farthest-corner, #fff, #E0E0E0);
}

.topbar{
    z-index: 1;
    margin: 0;
    padding: 0;
}

.center{
    margin: 0 auto !important;
}

.footer {
    background-color: #333;
    color: #efefef;
    padding: 30px 0;
}

.copy-footer{
    width: 100%;
    margin: 0 auto;
}

.contact{
    float: right;
    clear: both;
    text-align: left!important;
}

.contact ul{
    font-size: 15px;
}

.footer a {
    color: #639bcf;
}
.footer a:hover {
    color: #d8e6f3;
}

.elev{
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25), 0 5px 5px 0 rgba(0, 0, 0, 0.40);
}

.btn a:hover{
    text-decoration: none;
}