.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
    max-height: 350px;
}

.post-description{
    min-height: 60px;
    margin: auto;
}

.post-thumnail{
    max-width: 300px;
    padding: 15px;
    margin: 5px;
}

.fun-facts{
    font-family: Roboto;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}