.post-description{
    min-height: 60px;
    margin: auto;
}

.post-thumnail{
    max-width: 300px;
    padding: 15px;
    margin: 10px;
}

.posts-collection{
    background-color: #000;
    margin: 10px auto;
    width: 100%;
    min-height: 100%;
    overflow: auto;
}

.projects-text {
    font-family: Roboto;
    font-size: 20px;
    border: thin #636c72;
    max-width: 800px;
    padding: 8px;
    margin: 10px auto;
}