<div class="container align-content-center about-content">
    <h2 class="text-center">Why This Site Even Exist?</h2>
    <img src="images/html-print.jpg" class="img-responsive center-block elev" alt="html page" width="800">
    <div class="text-justify about-text center-block">
        <p>This is part of a project developed to learn and train web development skills, such as write HTML pages and letting them pretty with some
            Bootstrap and JavaScript help. Above you can actually see a real print of the side code itself, when it was being produced.</p><br>
        <p>Hope that i was able to show you a nice looking wae page model, Thank you for showing up, Latter!</p>
    </div>
</div>