<div class="container align-content-center">
    <h1 class="text-center">Frequently Asked Questions</h1>
    <ul class="faq-text faq-content block-center list-unstyled">
        <li class="elev question">
           <h3>1 - Why start with Python?</h3> 
           <p class="justify">It can be hard for someone who never saw a code before to understand the logic behind it,
           and by far Python is one of the most easy programming language to learn. Trust me, you will see this in the future too.</p>
        </li>
        <li class="elev question">
           <h3>2 - If my code is exactly like the tutorial but does't work, what it can be?</h3> 
           <p class="justify">If the codes are really exactly equals,
           it's probably the Python version. Remember, we are using Python 3, if your Python version is the 2 some of the codes might not work.</p>
        </li>
        <li class="elev question">
           <h3>3 - Can i use a different IDE without problems?</h3> 
           <p class="justify">Yes, if you know what you're doing.</p>
        </li>
        <li class="elev question">
           <h3>4 - if i want to learn a different language?</h3> 
           <p class="justify">Well, you have to think about two things, are you confident enough coding in Python?
           Yes, sure... try something new. If not, train a little more with python then jump as you want(not a law just a tip).</p>
        </li>
    </ul>
</div>