<footer class="footer container-fluid text-center" >
    <div class='row'>
        <div class='col-sm-4 col-xs-12 copy-footer text-center'>
            <img src="images/Logo.png" alt="Logo"></img>
            <h5>Copyright &copy 2017 Yago Rezende</h5>
            <p><a href="about.html">About</a> | <a href="faq.html">FAQ</a></p>
        </div>

        <div class='col-sm-2 col-xs-6 contact'>
            <h5>Contato</h5>
            <ul class='list-unstyled'>
                <li><i class='glyphicon glyphicon-globe'></i> Yago Rezende</li>
                <li><i class='glyphicon glyphicon-phone'></i> (021)91234-5678</li>
                <li><i class='glyphicon glyphicon-envelope'></i> yagorezende@id.uff.br</li>
            </ul>
        </div>
    </div>
</footer>