<div id="myCarousel" class="carousel slide" data-ride="carousel" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="images/banner1.jpg" alt="Image">
            <div class="carousel-caption">
                <h3>Learn Python</h3>
                <p>Go from Hello, World! to Pro!</p>
            </div>
        </div>

        <div class="item">
            <img src="images/banner2.jpg" alt="Image">
            <div class="carousel-caption">
                <h3>Python + Django = Life!</h3>
                <p>Learn more about this awesome framework.</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container text-center center-block">
    <h3>What's New Over Here!</h3><br>
    <div class="row justify-content-md-center">
        <div class="col-sm-4 elev post-thumnail ">
            <a href="post01.html"><img src="images/hello-print.png" class="img-responsive" style="width:100%" alt="Image"></a>
            <p class="text-justify post-description">First things first! In this tutorial you will learn your first program, the
            classic Hello, World!</p>
        </div>
        <div class="col-sm-4 elev post-thumnail">
            <a href="post02.html"><img src="images/deflect-print.png" class="img-responsive" style="width:100%" alt="Image"></a>
            <p class="text-justify post-description">Second tutorial folks! You will learn how to deflect your code as you want.</p>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <h4 class="dyk-tag">Did you know?</h4>
                <p class="text-justify"> The first programmer was Ada Lovelace. She wrote an algorithm for the Charles Babbage's machine.
                    <a target="_blank" href="https://pt.wikipedia.org/wiki/Ada_Lovelace">More.</a>
                </p>
            </div>
            <div class="well">
                <h4 class="dyk-tag">Did you know?</h4>
                <p>Millennium Prize Problems, have you ever heard about them, it's basically seven mathematics problems,
                but if you solve one of them you make 1 million dollars. One of the most famous problem is the P vs NP. <a target="_blank" href="https://pt.wikipedia.org/wiki/P_versus_NP">More.</a>
                </p>
            </div>
        </div>
    </div>
</div><br>