<div class="container">
    <h1 class="text-center">Deflect, the if!</h1>
    <p class="note-text">To follow our tutorial we are still using <a href="https://c9.io">cloud 9</a> IDE.<br>
    Right click at the workspace folder(left side)> New File> name it <b>deflect.py</b>> double click to open.<br> 
    And then we're good to go!</p>
    
    <p class="note-text">
        First <a href="codes/deflect.py">click here</a> to download and copy the code.<br>
        Paste the code at your deflect.py file in your c9 workspace. Run and see what it can do.<br>
    </p>
    
    <img src="images/deflect-print.png" class="img-responsive center-block elev" alt="code example" width="800"><br>
    
    <p class="note-text">
        Look now at the code can you imagine what those lines mean? Don't worry if you can guess everything yet.<br>
        First we start with this line:<br>
        <b><i>"n1 = eval(input("Primeira nota: "))"</i></b><br>
        It means "n1 receive the real value that the user inputs".<br>
        <b>Wham?? what is n1??</b><br>
        n1 is a variable, it's basicly a space in the computer memory to store some data.
        <b>Hum... But, what is it storing?</b><br>
        in programming usually everything that comes after the "<b>=</b>" is stored as the variable value. What comes after the equals we won't 
        see right now, but it basicly means "take a number that the user will type".<br>
    </p>
    <p class "note-text">
        ... The tutorial continues...
    </p>
    
    <div class="post-orientation text-center">
        <p>
            <a class="btn btn-default " href="post01.html">Back</a>
            <a class="btn btn-default disabled" href="post03.html">Next</a>
        </p>
    </div>
</div>