<div class="container">
    <h1 class="text-center">Hello, World!</h1>
    <p class="note-text">To follow our tutorial we are using <a href="https://c9.io">cloud 9</a> IDE. It's a cloud IDE, very cool, useful and easy to work.<br>
    To get started you will first must to create an workspace.<br>
    Click: Create a new workspace> name it codex_tutorials, click at the Python icon then Create Workspace.<br>
    Right click at the workspace folder(left side)> New File> name it hello.py> double click to open.<br> 
    And then we're good to go!</p>
    
    <p class="note-text">Python is a very simple language, and has a very straightforward syntax.
        It encourages programmers to program without boilerplate (prepared) code. The simplest directive in Python is the "print" directive 
        - it simply prints out a line (and also includes a newline, unlike in C).
        There are two major Python versions, Python 2 and Python 3. Python 2 and 3 are quite different. This tutorial uses Python 3, because it more semantically correct and supports newer features.
        For example, one difference between Python 2 and 3 is the print statement. In Python 2, the "print" statement is not a function, and therefore it is invoked without parentheses. However, in Python 3,
        it is a function, and must be invoked with parentheses.
    
        To print a string in Python 3, just write:<br>
        &#09print("Hello, World")<br><br>
        
        Click at the Run(at the top bar), if your screen looks like the image below congratulations you just wrote your 
        first program in Python.
    </p>
    <img src="images/hello-print.png" class="img-responsive center-block elev" alt="html page" width="800"><br>
    <div class="post-orientation text-center">
        <p>
            <a class="btn btn-default disabled" href="post00.html">Back</a>
            <a class="btn btn-default" href="post02.html">Next</a>
        </p>
    </div>
</div>