<div class="container text-center align-content-center">
    <h1>Python Projects</h1>
    <p class="projects-text">At this page you can see a list of all ours tutorials. Feel free to look around.</p>
    <div class="center-block">
        <div class="col-sm-4 elev post-thumnail">
            <h3 class="post-header">1 - Hello, World!</h3>
            <a href="post01.html"><img src="images/hello-print.png" class="img-responsive" style="width:100%" alt="Image"></a>
            <p class="text-justify post-description">First things first! In this tutorial you will learn your first program, the
            classic Hello, World!</p>
        </div>
        <div class="col-sm-4 elev post-thumnail">
            <h3 class="post-header">2 - What if...</h3>
            <a href="post02.html"><img src="images/deflect-print.png" class="img-responsive" style="width:100%" alt="Image"></a>
            <p class="text-justify post-description">Second tutorial folks! You will learn how to deflect your code as you want.</p>
        </div>
    </div>
</div>