<div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img src="images/Logo-topbar.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="index.html">Home</a></li>
        <li><a href="post02.html">Last Post</a></li>
        <li><a href="#something">Something</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="python-projects.html">Python</a></li>
            <li class="disabled"><a href="#Django">Django</a></li>
            <li class="disabled"><a href="#Django">PyGame</a></li>
            <li class="disabled"><a href="#Django">OOP</a></li>
          </ul>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
</div>